body{
	width: 80%;
	max-height: 80%;
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
}


#my-header {
	background-color: #FFB4B0;
	border: 2px solid black;
	margin: 5px 0 20px 0;
	font-size: 80%;
	height: 10%;
}

.nav-button {
	text-decoration: underline;
	border-right: 2px solid black;
}

/*#blue-yellow {
	width: 100%
	height: 80%;   
} */
#blue-section {
	text-align: center;
	font-weight: normal;
	background-color: #4DD7FA ;
	display: inline-block;
	width: 30%;
	height: 80%;
	border: 2px solid black;
}

#yellow-section {
	background-color: #FEFAC0 ;
	padding: 5% 0 5% 0;
	display: inline;
	float: right;
	width: 65%;
	height: 100%;
	border: 2px solid black;
}

.blue-input {
	padding: 5px 10px;
}

.red-list > li {
	display: inline;
	padding: 5px 5px;
	list-style-type: none;
}     

.option {
	color: black;
	font-weight: bolder;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
}

.blue-list1  > li {
	list-style-type: none;
	padding: 2px 5px;
	text-align: left;
} 
.blue-button {
	clear: both;
	test-align: center;
}

.yellow-list  > li{
	display: inline;
	padding: 5px 5px;
	list-style-type: none;
}
.border-rt {
	border-right: 2px solid black;
}

label {
	display: block;
}

h2 {
	margin: 5px 10px 5px 50px;
	color: #785616;
}