body{
	margin: 0 auto;
	padding: 0;
	max-width: 75%;
	position: relative;
	font-family: sans-serif;
}

/* Trying to figure out CSS so nav scrolls */ 
#body-main {
	max-width: 75%;
}

#header {
	position: fixed;
	width: 100%;
}

.border {
	border: 2px solid black
}

.navigation {
	margin-right: 15%;
}

#nav {
	list-style-type: none;
	text-align: center;
	padding: 20px 9px;
	margin: auto 0;
	background-color: #FFB4B0;
}

#nav li {
	padding: 0 .2em;
	width:	45px;
	text-align: left;
	display: inline;
}

#nav li:hover {
	background-color: white;
}

.add-style {
	margin: 150px auto 30px;
}

.bluebox {   
  display: inline-block;
  float: left;
  background: #4DD7FA ;
  box-sizing: border-box;  /*???????????*/
  width: 30%;
  height: 60%;
  padding: auto;
 }

 .bluebox div {
 	margin: 30px auto 20px 20px;
 }


 .bluebox, .yellowbox {
 	margin-top: 100px;
 }

/********CSS for inside BlueBox   */  
#artist-opt, album-opt {
	color: black;
	font-weight: bolder;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
}
#button {
	text-align: center;
}

.yellowbox {
	display: inline-block;
	float: right;
	color: #785616;
	width: 65%;
}

.hidden {
	display: none;
}

/* Code to style songlist songs */

.songLists {
	padding: 15px 4px;
}

.songColor :nth-child(2n+0) {  
  background: #FFF5EE;
}

.songColor :nth-child(2n+1) { 
  background: #F5FFFA;
}

.songLists:first-child {
  font-weight: bolder;
}






