{{#each this}}
<div class='songLists'><button id={{{@key}}} class='delete'>Delete</button>  <span class="title">{{title}}</span> by <span class="artist">{{artist}}</span> on the album <span class="album">{{album}}</span></div>
{{/each}}
